.oversize {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.cont-banner .button-over-image {
    position: absolute;
    top: 80%;
    left: 15%;
    border-radius: 5px;
}

.cont-banner {
    position: relative;
    width: 100%;
    max-height: 85vh;
    overflow: hidden;
}
