.root-container {
  min-width: 240px;
  width: 100%;
}

.section-title {
  justify-content: center;
  text-align: center;
  font-size: large;
  background-color: var(--color-title-card);
  margin: 1em;
  padding: 0.5em;
  color: white;
  border-radius: 15px;
}

.section-container {
  padding: 5px;
  margin: 2px;
  float: left;
  width: 98%;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

.row-paragraph {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: inline-flex;
  font-size: smaller;
}

.subtitle {
  font-size: small;
  font-weight: bold;
  width: 60%;
  overflow-wrap: break-word;
}

.content-information {
  max-width: 55%;
  overflow-wrap: break-word;
  margin-right: 5px;
}
