::ng-deep .mat-dialog-title{
    background-color:var(--color-primary);
    color: white;
    height: 60px;
    min-width: 300px;
}
::ng-deep  .mat-dialog-container{
    padding: 3px !important;
}
// ::ng-deep  .mat-button{
//     background-color:var(--color-primary);
//     color: white;
// }
.dialog-container{
    padding: 21px;
}
mat-form-field {
    margin-right: 12px;
}

form{
margin-left:2%;
}

.container-fluid {

width: 100%;
}

.textarea{
    margin: 5px;
}

.spinner-container {
  height: 150px;
  width: 300px;
}

.container-full-width {
  width: 100% !important;
}

.text-title {
  padding: 10px;
}


.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}
