.login-container {
  height: 100%;
  width: 100%;
  background-color: var(--color-accent);
  padding: 90px;
}


mat-card-title {
  color: var(--color-primary);
}

.left-img {
  height: 100%;
  background-color: var(--color-primary);
  padding: 90px;
  max-width: 70%;
  border-radius: 1%;
}

.login-flex {
  height: 100%;
}


.minus-logo {
  width: 40px;
}



