/* You can add global styles to this file, and also import other style files */


@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      overflow: visible;}

@import 'themes/principal-theme.scss';


*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid slategrey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-toolbar.mat-primary {
    background-color: var(--color-accent) !important;
  }

.size-100 {
    width: 100%;
}

.oversize {
    width: 100%;
    height: auto;
}

.container {
    margin: 10%;
  }
  